/* Estilos base */
.produtos{
    display: flex;
    justify-content: center;
    /* Centraliza os produtos */
    flex-wrap: wrap;
    /* Permite a quebra de linha para itens grandes */
    gap: 20px;
    /* Espaçamento entre os itens */
    padding: 20px;
    /* Espaçamento interno da seção */
}
.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas fixas */
    gap: 60px;
    /* Espaçamento entre os cards */
}
.card {
    display: flex;
    flex-direction: column;
    /* Coloca os itens dentro do card em coluna */
    width: 100%;
    /* Garantia de que o card ocupe todo o espaço disponível */
    max-width: 360px;
    /* Limita a largura máxima do card */
    text-align: center;
    color: #333333;
    font-family: 'Lato', sans-serif;
    /* Especifica a fonte 'Lato' corretamente */
}
.card h1 {
    font-size: 20px;
    height: 40px;
    display: -webkit-box;
}
.img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* Garante que a imagem cubra todo o espaço disponível sem distorcer */
    border-radius: 15px;
    /* Aplica o border radius de 15px à imagem */
    cursor: pointer;
    /* Adiciona um cursor pointer para indicar que a imagem é clicável */
}
.img-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.img-container:hover .overlay {
    opacity: 1;
}
.overlay-text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.arrow-icon {
    width: 30px;
    height: 30px;
    fill: white;
}
.fixed-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 0 0 15px 15px;
    transition: opacity 0.3s ease-in-out;
}
.img-container:hover .fixed-text{
    opacity: 0;
}
.container-preco-review {
    display: flex;
    justify-content: space-between;
}
.preco {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* Organiza o preço original e o promocional em coluna */
}

.preco span {
    text-decoration-line: line-through;
    color: red;
    /* Define a cor do preço original */
    font-size: 17px;
    display: flex;
    position: relative;
    top: 25px;
    left: 30px;
    font-weight: bold;
}
.preco h1 {
    font-size: 25px;
    font-weight: bolder;
}
.review {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}
.review img {
    width: 30px;
    height: 30px;
    margin-right: 1px;
}
.review span {
    text-decoration-line: underline;
    font-weight: bold;
}
.button-card {
    width: 100%;
}
.button-card button {
    width: 80%;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    box-shadow: #333333 0px 0px 0px 0px, #333333 0px 4px 2px 0.2px;
    background-color: #45c260;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border: solid 0px;
    transition: 0.9s all;
}
.button-card button:hover {
    background-color: #24e04c;
    width: 100%;
    opacity: 0.9;
}
/* Estilos do modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modal-content {
    background: white;
    border-radius: 15px;
    width: 1200px;
    height: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    overflow: hidden;
    position: relative;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 30px;
    max-width: 30px;
    height: 30px;
    background-color: #333333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    box-shadow: #333333 0px 0px 0px 0px, #333333 0px 4px 2px 0.2px;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border: solid 0px;
    transition: 0.9s all;
}
.close-modal:hover {
    background-color: #24e04c;
    width: 100%;
    opacity: 0.9;
}
.modal-left {
    width: 500px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.img-modal {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.modal-left .slick-slider {
    height: 540px;
}
.modal-left .slick-slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-left .react-player {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.video-container {
    width: 100%;
    height: 400px;
    /* Mesma altura da imagem */
    display: flex;
    justify-content: center;
}
.video {
    width: 100%;
    height: 100%;
}
.modal-left .img {
    width: 95%;
    height: 100%;
    border-radius: 15px;
}
.modal-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 58px;
}
.modal-right h1 {
    margin-bottom: 20px;
    font-size: 25px;
}
.modal-select {
    margin-bottom: 20px;
}
.modal-select label {
    display: block;
    margin-bottom: 5px;
}
.modal-select select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.btn-comprar {
    width: 75%;
    padding: 15px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    box-shadow: #333333 0px 0px 0px 0px, #333333 0px 4px 2px 0.2px;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border: solid 0px;
    transition: 0.9s all;
}
.btn-comprar:hover {
    background-color: #24e04c;
    width: 100%;
    opacity: 0.9;
}
.container-button-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.arrow-icon {
    width: 30px;
    height: 30px;
    fill: white;
}
.click-info {
    text-align: center;
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
}

.btn-ver-mais,
.btn-voltar {
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    width: 55%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    box-shadow: #333333 0px 0px 0px 0px, #333333 0px 4px 2px 0.2px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border: solid 0px;
    transition: 0.9s all;
}

.btn-ver-mais:hover {
    background-color: #24e04c;
    width: 50%;
    opacity: 0.9;
}

.btn-voltar:hover {
    background-color: #24e04c;
    width: 50%;
    opacity: 0.9;
}
