.container-avaliacoes {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.title-avaliacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.title-avaliacoes h1 {
    font-size: 50px;
    color: #333333;
}

.container-card-review{
    width: 40%;
    padding: 10px;
}

.card-review {
    border: green 1px solid;
    border-radius: 30px;
    text-align: center;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Inclui padding no tamanho total */
}

.img-card-review {
    display: flex;
    position: relative;
    left: 260px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.img-card-review img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-review {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.name-review h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.name-review p {
    font-size: 14px;
    margin-top: 5px;
}

.avaliacoes {
    display: flex;
    gap: 3px;
    margin-top: 10px;
    justify-content: center;
}

.avaliacoes img {
    width: 20px;
    height: 20px;
}
