.container-produto-unico {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    font-family:'Lato';
    flex-wrap: wrap;
}

.container {
    width: 370px;
    height: 455px;
    border-radius: 15px;
   
}
.container-right{
    display: flex;
    align-items: center;
    max-width: 700px;
    justify-content: center;
}
.img-unico {
    display: flex;
    width: 350px;
    height: 455px;
    border-radius: 15px;
    overflow: hidden;
}

.img-unico img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover; 
    margin-left: 10px;
}

.video-wrapper{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover; 
}

.video-wrapper .react-player{
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    object-fit: cover; 
}
.react-player video{
    border-radius: 15px; 
    object-fit: cover;
}
.container-text{
    display: flex;
    width: 600px;
    margin: 0px;
    flex-direction: column;

}
.container-text h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    color: #333333;
}
.text{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

}
.preco-unico{
    display: flex;

}
.preco-unico h1{
    font-size: 45px;
}
.btn-comprar{
    width: 75%;
    background-color: #24e04c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 36px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Lato", sans-serif;
    box-shadow: #333333 0px 0px 0px 0px, #333333 0px 4px 2px 0.2px;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    border: solid 0px;
    transition: 0.9s all;
    
}
.btn-comprar:hover {
    background-color: #333333;
    width: 100%;
    opacity: 0.9;
}

.button-whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.preco-unico {
    color: #333333;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.preco-unico span {
    text-decoration-line: line-through;
    color: red;
    font-size: 27px;
    display: flex;
    position: relative;
    top: 15px;
    left: 70px;
    font-weight: bold;
}
.review-unico{
    text-decoration: underline;
    color: #333333;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
} 